<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeAnswer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to("Welcome", welcome_path)  %>
      <%= link_to("GoodBye", tata_path)  %>
      <%= link_to("Form_Example", form_example_path)  %>
    </nav>

    <%= yield %>
  </body>
</html>
