<h2><%= @question.title %></h2>
<p><%= @question.body %></p>
<% if @question.user %>
    <small><%= @question.user.full_name %> asked about <%= time_ago_in_words(@question.created_at) %> ago</small>
<% end %>
<% if can?(:edit, @question) %>
    <%= button_to "Edit", edit_question_path(@question), :method => :get %>
    <%= button_to "Delete", @question, :method => :delete %>
<% end %>
<hr>
<% @question.answers.each do |answer| %>
    <div>
        <div>
            <%= answer.body %>
        </div>
    <% if answer.user %>
        <small>
            <%= answer.user.full_name %>
        </small>      
    <% end %>
    <small>answered <%= time_ago_in_words(answer.created_at) %> </small>
    <% if can?(:delete, answer) %>
        <%= button_to "Delete", [@question, answer], :method => :delete %>
    <% end %>
    </div>
    <hr>
<% end %>

<%= form_for [@question, @answer] do |f| %>
    <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>
    <%= f.submit %>
<% end %>

