<h2><%= @question.title %></h2>
<p><%= @question.body %></p>
<p><%= @question.created_at %></p>

<%= link_to "Edit", edit_question_path(@question) %>
<%= button_to "Delete", @question, :method => :delete %>