<%- include("../partials/header.ejs") %>

    <h1 class="mt-2">All Posts</h1>

    <div class="mb-3">
        <a href="/posts/new" class="btn btn-primary">Write New Post</a>
    </div>

    <div>
        <% for (let post of posts) {%>
            <div class="card mb-4">
                <a class="nav-link" href="/posts/<%= post.id %>">
                    <div class="card-body">
                        <h5 class="card-title"><%- post.title %></h5>
                        <p class="card-text"><%- post.content %></p>
                    </div>
                </a>
            </div>

            <% } %>
    </div>

    <%- include("../partials/footer.ejs") %>