<%- include('../partials/header') %>

  <div class="container">
    <h1>Task #<%= id %></h1>
    <div>
      <div><%= body %></div>
      <p>Created at: <%= new Date(created_at).toLocaleString() %></p>
      <div class>
        <form action="/tasks/<%= id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete</button>
        </form>
        <form action="/tasks/<%= id %>/edit" method="GET">
          <button type="submit">Edit</button>
        </form>
      </div>
    </div>
  </div>

<%- include('../partials/footer') %>